.container{
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap ;  
  justify-content: space-between;
  transition: width 2s;
}
.container-img{
  
  border: #ffffff;
  margin: 10px 0 0 0;
  width: 30%;
  height: auto;
  transition: width 2s;
    
}
.title-card{
  height: 60px;
}
.card-imagen{
  height: 270px;
}
.header {

    display: flex;
    justify-content: space-between;
    align-content: center; 
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    height: 60px;
    padding: 30px;
    }
 .header-buttons {
  display: flex;
  flex-direction: row;
  width: 270px;
    }

body {
 margin: 0;
 padding: 0;
 border: 0;
 
}
.hero{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 900px;
    
}
.icone.lupa {
    width: 15px;
    height: 15px;
    border: 4px solid black;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    margin-top: -5px;
  }
  
  .icone.lupa:after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    
    transform: rotate(45deg);
    transform-origin: -3px 12px;
    
  }

.hamburguer{
    margin-left: 30px;
}
#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
    z-index: 2;
    margin-right: 10px;
}
 
#menu_on span{
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #000000;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
    transform-origin : 0px 100%;
    
}
 
#menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
 
#menu_on span:nth-child(3){
bottom: 0;
width: 50%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 16px;
  }
  .button5 {background-color: #4A4A4A;}
  .titulos{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 76px;
    color:#ffffff;
    margin-top: 0;
    margin-left: 60%;
    
  }
  .subtitulos{
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    color:#ffffff;
    margin-top: 0;
    margin-left: 60%;
    padding-top: 20%;
    margin-bottom: 5px;
  }
  .courses-list{
    max-width: 1500px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 20px 0 0 20px;
    margin: auto;
    
  }
  .courses-list h2{
   font-size: 55px;
  }

  .courses-list h3{
    font-size: 20px;
   }

   .img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
      }
   #foto:hover{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    
   }

   #foto{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    transition: all 1s ease;
   }
   

   ul {
    display: none;
    padding:0px;
    margin:200px;
    position: absolute;
    width:1200px;    
    background-color:#ffffff;
    position:absolute;
    
    }
    